.disc-message {
    text-align: left;
    font-style: italic;
    font-size: 11px;
}
.input{
    background-color: transparent;
}

input#resumeFile {
    border-radius: 20px;
}


hr.MuiDivider-root {
    border-radius: 50px;
    background-color: #797878;
}