html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

@import '~antd/dist/antd.css';

video{
  object-fit: cover;
  width: 100%;
  height:250px;
  position:absolute;
  z-index: -1;
  display: flex;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: 'tnum', "tnum";
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

:root {
  --primary: #dc0000
  ;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.home,
.services,
.about,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  color: #fff;
}
.services >h1 {
  background-position: center;
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.tab-container{ 
  padding-inline: 45px;
}

.about {
  background-color:rgb(121 120 120);
  background-position: center;
  background-size: fill;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
.VIP {
  background-color:rgb(121 120 120);
  background-position: center;
  background-size: fill;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1156px) {
  .VIP{
    font-size: 46px;
  }
  
}

.MuiPaper-root.MuiPaper-elevation3.MuiPaper-rounded {
    width: 100%;
    padding: 20px;
    height: min-content;
    align-self: center;
    background-color: #5f5f5f9e;
}
.vip-content{
  width: 100%;
  height: 100%;
  align-self: center;
  display: inline-flex;
}

.viprow1{
  display:inline-flex ;
  width:100%;
}



.vip-contact-heading{
  text-align: left;
}
.vip_logo_wrapper > img{
  height: 450px;
}

.vip-contact-conatiner {
  width: 100%;
}

.viprow1 > img{
  width: inherit;
  max-width: min-content;
}

@media only screen and (max-width:885px)
{
  .viprow1{
    flex-direction: column; 
  }
  .vip-paper{
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
  
}
@media only screen and (max-width:390px)
{
  .vip-paper{
    text-align: center;
  }
}

.testimonials{
  text-align: center;
  padding-top: 10%;
  color: rgb(0, 51, 142);
}
.myCarousel > p{
  text-align: left;
}
.contact {
  background-color:rgb(121 120 120);
  background-position: center;
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}


@media screen and (max-width:960px) {
  .contact-row1{
    display: inline-block;
  }
  .contact-form{
    font-size: medium;
    margin-top: 48px;
  }
  .contact-form {
    text-align: -webkit-center;
    align-self: center;
    padding-bottom: 20px;
  }
  .contact-info{
    font-size: medium;
    margin-top: 20px;
    padding-inline: 20px;
  }
  h2.MuiTypography-root.MuiTypography-h2.MuiTypography-gutterBottom {
    text-align: center;
}
}

@media screen and (min-width:960px) {
  .contact-row1{
    display: flex;
    padding: 50px;
  }
  .contact-form{
    width:50%;
    padding:15px;
    font-size: medium;
  }
  .contact-form {
    text-align: -webkit-center;
    align-self: center;
    border-left: 2px solid #dc0000;
  }
  .contact-info{
    width: 50%;
    padding:15px;
    font-size: medium;
  }
  

}


.contact-form-container{
  padding-inline: 15%;
}

input#name {
  width: 100%;
  padding:15px;
  font-size: medium;
}
input#email {
  width: 100%;
  padding:15px;
  font-size: medium;
}
input#subject {
  width: 100%;
  padding:15px;
  font-size: medium;
}
input#message {
  width: 100%;
  padding:15px;
  font-size: medium;
}
input#PhoneNumber {
  width: 100%;
  padding:15px;
  font-size: medium;
}
.faq{
  background-color:rgb(121 120 120);
  background-position: center;
  background-size: fill;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
  vertical-align: middle;
  
}

.faq-header{
  font-size: 50px;
  display: inline-flex;
  color:#fff;
}

@media screen and (max-width: 960px) {
  .faq{
    background-color:rgb(121 120 120);
    background-position: center;
    background-size: fill;
    height: 200px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 40px;
    vertical-align: middle;
    
  }
  
  .faq-header{
    font-size: 30px;
    display: inline-flex;
    color:#fff;
  }
}



.employment{
  background-color:rgb(121 120 120);
  background-position: center;
  background-size: fill;
  height: 200px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
  vertical-align: middle;
  
}
.row1{
  display: contents;
  height:350px;
  background-image: "./images/graybackground.jpg";
}
.container1{
  padding-left:5%;
  padding-top:5%;
  width:60%;

}


@media screen and (max-width:800px) {
  .container1{
    width: 98%;
  }
  .row1{
    display: contents;
  }
}
  

.MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  background: #696969;
  color: white;
  border: solid #616161;
}

.MuiAccordionDetails-root {
  background: #A0A0A0;
}

.MuiButtonBase-root.MuiIconButton-root.MuiAccordionSummary-expandIcon.MuiIconButton-edgeEnd {
  color: white;
}

#slide {
  position: relative;
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  background-color: #c4c4c4;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}


  #wave {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
  }

  .circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 550px;
    height: 550px;

    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .5, .32);
    z-index: -10;
  }

  .paperinfo {
    z-index: 100;
    padding: 5px;
  }

  @keyframes scaleIn {
      from {
        transform: scale(.5, .5);
        opacity: .5;
      }
      to {
        transform: scale(1.1, 1.1);
        opacity: 0;
      }
    }

    @media screen and (max-width: 884px){
        .right-side{
            margin-block: 15%;
        }
    }

    p.vip-contact-p {
      font-family: system-ui;
  }


  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  #contactslide {
    position: relative;
    left: -2000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.carousel-root {
  width: 50% !important;
  margin: auto !important;
  margin-top: 2% !important;
  margin-bottom: 10% !important;
  box-shadow: rgb(0 0 0 / 26%) 0px 32px 20px;
  border-radius: 20px;
}

.carousel .slide {
  background: #6685bb !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
    margin-top: 2% !important;
    margin-bottom: 10% !important;
    box-shadow: rgb(0 0 0 / 26%) 0px 32px 20px;
    border-radius: 20px;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -7%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
    
  }
}

.slider-wrapper{
  border-radius: 10px;
}

.navbar {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 1px 7px 22px 4px #5B5B5B;;
  width: 100%
}
.uppernav{
  display: inline-flex;
  place-content: center;
}


.lowernav{
  display: inline-flex;
}
.logosponsoritem > img{
  height: 80px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 500px){
  .logosponsoritem > img{
    height: 50px;
  }
}
.navbarcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 80px;
  width: 100%;
}
.navbarcontainerlogo {
  display:inline-block;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 1500px;
  text-align: center;
  
}
.navbarlogo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.navmenu {
  display: inline-flex;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: space-evenly;
  margin-right: 2rem;
}

.navitem {
  height: 50px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navitem1 {
  height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navlinks {
  color:#00338e;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navlinks:hover {
  background-color: #fff;
  color: #dc0000;
  border-radius: 0;
}

.fa-bars {
  color: #dc0000
  ;
}

.navlinksmobile {
  display: none;
}

.menuicon {
  display:none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position:absolute;

  }

  .navmenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navmenu.active {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navlinks {
    text-align: center;
    padding: 1px;
    width: 100%;
    display: table;
    font-size: 35px;
  }

  .navlinks:hover {
    background-color: #fff;
    color: #dc0000;
    border-radius: 0;
  }

  a.navlinks {
    border-bottom: solid #00338e;
}


  .navbarlogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menuicon {
    display: block;
    position:absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index:10;
  }

  .fa-times {
    color: #dc0000;
    font-size: 2rem;
    z-index:10;
  }

  .navlinksmobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .navlinksmobile:hover {
    background: red;
    color: #242424;
    transition: 250ms;
  }
  .navitem{
    height:0px
  }


}

@media screen and (min-width: 960px) {
  .navitem1{
    display: none;
  }
}



.uppernav1 {
position: relative;
display: block;
content: '';
border-top: 3px solid #e00808;
height: 100%;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.uppernav2 {
position: relative;
display: block;
content: '';
border-top: 3px solid #00338e;
height: 100%;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

/*Button*/

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #00338e;
  transition: 250ms;
}

.hero-btns{
    z-index: 2;
}

.hero-container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 20%);
  object-fit: contain;
  justify-content: center;
}
.hero-btns{
  margin-top: 32px;
}

.herobtns .btn{
  margin: 6px;
}

.hero-container > h1 {
  color: white;
  font-size: 100px;
  margin-top: -100px;
  text-align: center;
  font-weight: bold;
}

.hero-container > p {
  margin-top: 8px;
  color: white;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 960px){
  .hero-container > h1{
      font-size: 70px;
      margin-top: -150px;
  }
}

@media screen and (max-width:768px){
  .hero-container > h1 {
      font-size: 30px;
      margin-top: -100px;
  }

  .hero-container > p{
      font-size:30px;
  }

  .btnmobile{
      display: block;
      text-decoration: none;
  }

  .btn{
      width:100%
  }
} 


/*Nav bar shrinking*/