.our-products{
    display: flex;
}

.client-message{
    border: solid #707070;
    padding-bottom: 10px;
    text-align: center;
    border-right: hidden;
    border-left: hidden;
    color: black;
    border-width: 5px;
    font-size: 20px;
    box-shadow: 0 32px 20px rgb(0 0 0 / 26%);
    border-radius: 9px;
    margin-bottom: 35px;
}
.client-message > p{
    font-family: system-ui;
    color: #1d1d1d;
}


.client-list{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

.client-list > ul{
    list-style-type: none;
    list-style: none;
    color: black;

}

.linen-message{
    border: solid #707070;
    padding-bottom: 10px;
    text-align: center;
    border-right: hidden;
    border-left: hidden;
    color: black;
    border-width: 5px;
    font-size: 20px;
    box-shadow: 0 32px 20px rgb(0 0 0 / 26%);
    border-radius: 9px;
    color: #1d1d1d;
}

.linen-message > p{
    font-family: system-ui;
    color: #1d1d1d;
}

.delivery-message{
    border: solid #707070;
    padding-bottom: 10px;
    text-align: center;
    border-right: hidden;
    border-left: hidden;
    color: black;
    border-width: 5px;
    font-size: 20px;
    box-shadow: 0 32px 20px rgb(0 0 0 / 26%);
    border-radius: 9px;
}
.delivery-message > p{
    font-family: system-ui;
    color: #1d1d1d;
}

.product-message2{
    border: solid #707070;
    border-radius: 9px;
    padding-bottom: 10px;
    border-right: hidden;
    border-left: hidden;
    text-align: center;
    border-width: 7px;
    color: black;
    font-size: 20px;
    height: fit-content;
    width: 65%;
    box-shadow: 0 32px 20px rgb(0 0 0 / 26%);
}
.product-message2 > p{
    font-family: system-ui;
    color: #1d1d1d;
}

.product-message1{
    border: solid #707070;
    border-radius: 9px;
    padding-bottom: 10px;
    border-right: hidden;
    border-left: hidden;
    text-align: center;
    border-width: 7px;
    color: black;
    font-size: 20px;
    height: fit-content;
    width: 65%;
    box-shadow: 0 32px 20px rgb(0 0 0 / 26%);
}
.product-message1 > p{
    font-family: system-ui;
    color: #1d1d1d;
}

@media  screen and (max-width: 960px) {
    .our-products{
        display: none;
    }
    .product-message1{
        display: flex;
        font-size: 14px;
        width: 100%;
        margin-bottom: 35px;
    }
    .lst2{
        display: none;
    }
    .linen-message > p{
        font-family: system-ui;
        font-size: 14px;
        color: #1d1d1d;
    }
    .client-message > p{
        font-family: system-ui;
        font-size: 14px;
        color: #1d1d1d;
    }
    .product-message1 > p{
        font-family: system-ui;
        font-size: 14px;
        color: #1d1d1d;
    }
    .delivery-message > p{
        font-family: system-ui;
        font-size: 14px;
        color: #1d1d1d;
    }
    .client-list >ul{
        font-size:16px;
    }
}

@media  screen and (min-width: 960px) {
    .product-message1{
        display: none;
    }
    .lst1{
        display: none;
    }
    
}

.makeStyles-root-1{
    box-shadow: 0 38px 20px rgb(0 0 0 / 13%);
}

.tab-container{
    padding-inline: 15%;
    padding-bottom: 30px;
}

@media screen and (max-width:477px){
    .tab-container {
        padding-inline: 5%;
        padding-bottom: 30px;
    }
}

